body {
    background-color: black;
}

a {
    text-decoration: none;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    height: 20vh;
    width: 20vh;
    margin: 10px;
}