body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0px 10px 0px 10px;
}

#container {
    display: flex;
    height: 640px;
    width: 960px;
    border: 50px solid red;
}

.column {
    display: flex;
    flex-direction: column;
    background: tan;
    flex: 1;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

#knob-container {
    display: flex;
    background-color: red;
    width: 960px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 50px 50px;
}

.knob {
    display: flex;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}